POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=supplyhub
POSTGRES_USER=supplyhub
POSTGRES_PASSWORD=replace_with_a_local_password
AUTH_SECRET_KEY=replace_with_a_random_64_character_hex_secret
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=30
